<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="app.js"></script>

    <style>
        *{
            font-family: Arial;
        }
        .jumbotron {
            width: 80%;
            margin: 0 auto;
            padding: 100px;
            border-radius: 10px;
        }

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: arial;
        }


        header{
            padding:5px;
            background-color: white;
            color:#00235f;
            margin-top: -10px;
        }

        body{
            margin: 0;
            color:  #00235f ;
            background-color: white;
            padding: 0;
            font-family: arial;
        }

        .slogan h1{
            font-size: 70px;
        }

        .container{
            background-color: white;
        }

        .row img{
            width: 100%;
        }

        .row a{
            color: red;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }

        .topnav .icon {
            display: none;
        }


        .item {
            width: 100%;
            height: 600px;
            margin: 0 auto;
        }

        @media screen and (max-width: 600px) {
            .topnav a:not(:first-child) {display: none;}
            .topnav a.icon {
                float: right;
                display: block;
            }
        }

        @media screen and (max-width: 600px) {
            .topnav.responsive {position: relative;}
            .topnav.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
            }
            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
        }

        .to-register {
            float: right;
        }

        .to-register a {
            color: green;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="topnav" id="myTopnav">
    <a href="index.html" class="active">Home</a>
    <a href="products.html">Products</a>
    <a href="orders.html">Orders</a>
    <a href="login.html">Login</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>


<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
<body>
<div class="jumbotron">
    <h1>Login</h1>
    <p>Please fill all the gaps</p>
    <div class="form-group">
        <label for="email">Email:</label>
        <input ng-model="authorization.email" type="text" class="form-control" id="email" placeholder="email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input ng-model="authorization.password" type="password" id="password" class="form-control" placeholder="password">
    </div>
    <button ng-click="login(authorization)" type="submit" id="loginbutton" class="btn btn-success">Login</button>
    <span class="to-register">Don't have an account?<a href="register.html">sign up</a></span>
</div>
</body>
</html>

<script type="text/javascript">
    document.getElementById("loginbutton").onclick = function () {
        location.href = "products.html";
    };
</script>