<!DOCTYPE html>
<html ng-app="aitu-project">
<head>
	<title>Products</title>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="app.js"></script>
    <style type="text/css">
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}


header{
  padding:5px;
  background-color: white;
  color:#00235f;
  margin-top: -10px;
}

body{
  margin: 0;
  color:  #00235f ;
  background-color: white;
  padding: 0;
  font-family: arial;
}

.slogan h1{
  font-size: 70px;
}


.row a{
  color: red;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: arial;
}

.menu-area a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #061250 ;
  background:lightgrey;
  height: 50px;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}


.menu-area a:hover {
  color: blue;
}

.menu-area ul {
  list-style: none;
  display: flex;
}

.menu-area li {
  position: relative;
  width: 250px;
  text-align: center;
}
.logo img{
  width: 150px;
}

.menu-area img{
  width: 50px;
}


header{
  padding:5px;
  background-color: white;
  color:#00235f;
  margin-top: -10px;
}

body{
  margin: 0;
  color:  #00235f ;
  background-color: white;
  padding: 0;
}

.slogan{
  font-size: 70px;
}

.sidenav a {
  font-family: sans-serif;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: darkblue;
  transition: 0.3s;
  margin-top: 30px;
  font-weight: bold;
}

.sidenav a:hover {
  color: blue;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.block p{
  padding: 5px;
}

.block button{
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: #5ADB00;
  border: 0px;
}

button:hover{
  background-color: green;
}

.block h2{
  padding: 5px;
  color: red;
}


.left a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.left a:hover {
  color: #f1f1f1;
}

.container button{
    font-size: 20px;
    width: 120px;
    margin-left: 10px;
}

.container{
    padding: 10px;
}

#demoInput{
    width:60px;
    height:30px;
}

#quantityPlus{
    width:100px;
    height:35px;
}

#quantityMinus{
    width:100px;
    height:35px;
}

#orderbutton {
    width: 200px;
}

#paymentbutton {
    width: 200px;
}

.paymentcontainer {
    margin: 0 auto;
}

#map {
    height: 400px;
    width: 100%;
}

.inlineimage{max-width:470px;margin-right: 8px;margin-left: 10px}.images{display: inline-block;max-width: 98%;height: auto;width: 22%;margin: 1%;left:20px;text-align: center}


	</style>
</head>
<body ng-controller="ProductCtrl">
  <div class="topnav" id="myTopnav">
  <a href="index.html" class="active">Home</a>
  <a href="orders.html">Orders</a>
      <a href="factory.html">Factory</a>
      <a href="login.html">Login</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
  <div class="slogan">
    <center><h1>Products</h1></center>
  </div>
<center>
    <div class="row">
    <div class="container">
        <h1>Hello {{customer.customerName}}</h1>
        <h3>Category List</h3>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <th>category ID</th>
            <th>category name</th>
            <th>description</th>
            </thead>
            <tr ng-repeat="category in categoryList | orderBy:'categoryId'">
                <td ng-bind="category.categoryId"></td>
                <td ng-bind="category.categoryName"></td>
                <td ng-bind="category.categoryDescription"></td>
            </tr>
        </table>
    </div>
    </div>

    <div class="jumbotron">
        <h1>Login</h1>
        <p>Please fill all the gaps</p>
        <div class="form-group">
            <label for="email">Email:</label>
            <input ng-model="authorization.email" type="text" class="form-control" id="email" placeholder="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input ng-model="authorization.password" type="password" id="password" class="form-control" placeholder="password">
        </div>
        <button ng-click="login(authorization)" type="submit" id="loginbutton" class="btn btn-success">Login</button>
        <span class="to-register">Don't have an account?<a href="register.html">sign up</a></span>
    </div>

        <h3>Product List</h3>
    <div class="container">
    <div class="row">
        <div class="col-md-16">
            <div id="options">
                <span>
                    <button type="button" class="btn btn-success" ng-repeat="category in categoryList" ng-click="getProductsByCategory(category.categoryId)">{{category.categoryName}}</button>
                </span>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <form method="post">
        <div class="row">
            <table class="table table-bordered table-striped table-condensed">
                <tr>
                <th>ID</th>
                <th>name</th>
                <th>category ID</th>
                <th>unit price</th>
                <th>description</th>
                <th>company ID</th>
                <th>production date</th>
                <th>expiration date</th>
                <th>volume</th>
                <th>barcode</th>
                <th>quantity</th>
                </tr>
                <tr ng-repeat="product in productList | orderBy:'categoryId'">
                    <td ng-bind="product.productId"></td>
                    <td ng-bind="product.productName"></td>
                    <td ng-bind="product.categoryId"></td>
                    <td ng-bind="product.unitPrice"></td>
                    <td ng-bind="product.description"></td>
                    <td ng-bind="product.companyId"></td>
                    <td ng-bind="product.productionDate"></td>
                    <td ng-bind="product.expireDate"></td>
                    <td ng-bind="product.volume"></td>
                    <td ng-bind="product.barcode"></td>
                    <td>
                        <button ng-click="incrementProduct(product)" id="quantityPlus" class="btn btn-success">Add</button>
                        <button ng-click="decrementProduct(product)" id="quantityMinus" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
        </form>
        <h2>Cart</h2>
        <form>
            <table class="table table-bordered table-striped table-condensed">
                <tr>
                <th>product ID</th>
                <th>name</th>
                <th>price</th>
                <th>quantity</th>
                </tr>
                <tr ng-repeat="orderItem in orderItemList">
                    <td ng-bind="orderItem.productId"></td>
                    <td ng-bind="orderItem.productName"></td>
                    <td ng-bind="orderItem.price"></td>
                    <td ng-bind="orderItem.quantity"></td>
                </tr>
            </table>
            <h2><label>{{orderMessage}}</label></h2>
            <button ng-click="sendOrders()" type="submit" class="btn btn-danger" id="orderbutton">order</button>
        </form>
    </div>

    <div class="container">
        <div class="page-header text-center">
            <h1>Payment</h1>
        </div>
        <div class="paymentcontainer">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <h3 class="text-center">Payment Details</h3>
                                <div class="inlineimage"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Mastercard-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Discover-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Paypal-Curved.png"> <img class="img-responsive images" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Visa_Electron.svg/1200px-Visa_Electron.svg.png"> </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group"> <label>CARD NUMBER</label>
                                            <div class="input-group"> <input type="tel" class="form-control" placeholder="Valid Card Number" /> <span class="input-group-addon"><span class="fa fa-credit-card"></span></span> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group"> <label><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label> <input type="tel" class="form-control" placeholder="MM / YY" /> </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group"> <label>CV CODE</label> <input type="tel" class="form-control" placeholder="CVC" /> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group"> <label>CARD OWNER</label> <input type="text" class="form-control" placeholder="Card Owner Name" /> </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12"> <button class="btn btn-success btn-lg btn-block" id="paymentbutton">Confirm Payment</button> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>Your courier is currently on the way, at this location</h1>
    <iframe src="https://maps.google.com/maps?q=51.173146, 71.437078&z=15&output=embed" width="900" height="450" frameborder="0" style="border:0"></iframe>
</center>
</body>
</html>
